a {
    text-decoration: none;
    color: white;
    text-decoration: none;

}

.title-area{
    float: left;
    padding-bottom: /*27*/10px;
    padding-top: /*27*/10px;
    width: 24%;
    text-align: center;

}

div {
    display: block;
}

/* ---------big images for each page --------*/

.firstImage {
    width: 100%;
    background-size: 100%;
}

/* -------------- */

/* image style for the first section in home page */
.homeImage {
    height: auto;
    width: 100%;
    position: relative;
    z-index: -1;
}
/* -------------- */


/* --------nav bar ---------*/

.logo {
    height: 200px;
    width: 200px;
}
/* --------- */


/*---------- adoptable section --------------*/

.adoptables {
    background-color: rgb(154, 50, 154);
    width: 100%;
    text-align: center;
    color: white;
}

.text-adopt {
    padding: 3% 1%;

}
.adopt-text {
  color: white;
  text-decoration: none;
}


.adoptables span {
        float: left;
        width: 50%;
        font-size: 2.2rem;
        color: white;
        font-weight: bold;
        padding-top: 5px;
        line-height: calc(5vw);
}

.adoptables span.left {
    border-right: solid 3px #fff;
    text-align: right;
    padding-right: 50px;
}

.adoptables span.right {
    text-align: left;
    padding-left: 50px;
}


/* --------------------------- */

/* myth section  */
.myth-section {
    background-color: #e5e9f0;
    padding: 3% 7%;
    text-align: center;
    line-height: 2rem;
}

.myth-image {
        width: 90%;
        transform: rotate(2deg);
        border: 10px solid #fff;
        margin: 0px 0px 10px 10px;
        box-shadow: 10px 10px 5px #bbb;

}

/* --------------------- */


/* how you can help section*/

.torn-paper{
    text-align: center;
}

.bottom-torn-paper {
    -webkit-transform: rotate(180deg);
}

.canHelp{
    background-color: whitesmoke;
    padding: 3% 7%;
    text-align: center;
    line-height: 2rem;
    
}

/* journal section */

.rEvent{
    background-color: #e5e9f0;
    padding: 5% 20%;
    text-align: center;
}

.rEvent-img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 0px 0px 10px 10px;
    
}

.rEvent-text {
    
    
    margin-bottom: 0;
    line-height: 1.8;
    font-size: 1em;
    text-align: left;


}

.events {
    padding: 5% 1%;
}




/* --------------------- */

.quote-inspire {
    margin: auto;
    width: 50%;
    line-height: 3rem;
    text-align: center;
}

/* footer */

.footer {
    background-color: gray;
    padding: 3% 5%;
}

.footer-info{
    display: inline-block;
    align-items: center;
}

.footer-signup{
    display: inline-block;
    padding-left: 3%;
}

/* -------------------- */


/* adoptable cat page */

.profileCards {
    margin: 3% 1%;
}

.adopt-cat-text {
    background: white;
    padding: 20px 100px;
    text-align: center;
    font-family: "Sanchez", serif;
    /* font-size: 4rem; */
    line-height: 1.2;
    border-bottom: 1px solid #999;
    /* min-height: 136px; */
    text-shadow: 1px 1px #999;
    color: #666;
}


.adopt-cat-title {
    color: rgb(155, 70, 70);
    background-color: lightgray;
    font-family: "RMS",serif;
    font-size: 12rem;
    font-weight: 400;
    text-shadow: 0 2px 5px #999;
    padding-left: 20%;
}

.available-cats {
    background-color: rgb(182, 174, 174);
    color: /*#000*/#191919;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.adoption-process {
    margin: 40px auto;
    max-width: 1090px;
    text-align: center;
    font-family: sanchez;
    border: 1px solid #ccc;
    box-shadow: 5px 5px #ccc;
    background: #fff;
    padding: 40px 50px 45px;
    line-height: 1.5;
}

.adopt-cat-cards {
    background-color: lightgray;
}

/* about us page */

/* molly page */

.petLeftContainer {
    width: 64%;
    max-width: 750px;
    display: inline-block;
}

.petRightContainer{
    width: 34%;
    float: right;
    display: inline-block;
    margin-bottom: 25px;
}

/* BodySection */
.entry-header {
    text-align: left;
}

.entry-title {
    color: #fff;
    font-family: "RMS",serif;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 0 2px 5px #999;
    margin: 0;
    line-height: 0.45;
    padding-left: 20%;
}

.entry-message{
    background: white;
    padding: 20px 100px;
    text-align: center;
    font-family: "Sanchez", serif;
    font-size: 10rem;
    line-height: 1.7;
    border-bottom: 1px solid #999;
    /* min-height: 136px; */
    text-shadow: 1px 1px #999;
    color: #666;
}

.page-long-des{
    margin: 0 auto;
    background: #e5e9f0;
    padding-bottom: 40px;
}

.page-long-des-inner {
    margin: 0 auto;
    max-width: 840px;
    padding: 50px;
}

/* buttons for donations */

section{
    display: flex;
    flex-flow: row wrap;
}

section > div {
    
        flex: 1;
        padding: 0.5rem;
    
}

input[type="radio"] {
    display: none;
}

input[type="checkbox"], input[type="image"], input[type="radio"] {
    width: auto;
}

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input, select, textarea {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    border-radius: 0;
    color: #000;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    line-height: 1.5;
    padding: 20px;
    width: 100%;
}
button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    font: inherit;
    margin: 0;
}

.adopt-cat-text h2 {
    font-family: sanchez;
    margin: 10px 0 0;
    font-size: 4rem;
}

input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
}

label {
    height: 50%;
    display: block;
    background: white;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgb(161 170 166 / 50%);
    position: relative;
}

/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
  .box {
    position: relative;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #999;
    overflow: auto;
  } 
   
  .close-icon {
    content: 'x';
    cursor: pointer;
    position: fixed;
    right: calc(15% - 30px);
    top: calc(100vh - 85vh - 33px);
    background: #ededed;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
  }

@media (min-width: 768px) {
.modal-content {
    box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
    }
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
    background-clip: padding-box;
    outline: 0;
}

.modal-header {
    border-bottom: 0;
    color: #6a207f;
    font-size: 3.3rem;
    height: 7rem;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.428571429px;
}

.modal-title {
    margin: 0;
    line-height: 1.428571429;
}

.modal-body {
    padding: 0;
    position: relative;
}

@media (min-width: 768px) {
.pet-body {
    padding: 1.5rem 3rem;
}
}

.pet-body {
    font-size: 1.6rem;
    padding: 1.5rem;
    white-space: pre-line;

}

@media (min-width: 500px) {
.pet-body .info-grid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 3rem;
}
}

.pet-body .info-grid {
    -ms-flex-align: stretch;
    align-items: stretch;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
.pet-body > * {
    margin-bottom: 4rem;
}
} 

@media (min-width: 500px) {
.pet-body .info-item {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: 0;
}
}

.info-item {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    font-size: 1.2rem;
    font-weight: bold;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 50%;
} 

.pet-body [class^="icon-"], .pet-body [class*="icon-"] {
    font-size: 5rem;
    margin-bottom: 1.5rem;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
.pet-body > * {
    margin-bottom: 4rem;
}
}

.pet-body .adopt {
    text-align: center;
}

.pet-body .adopt a {
    background: #6a207f;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.pet-body .adopt a:last-child {
    margin-bottom: 0.5rem;
    margin-right: 0;
}

.pet-body .adopt a {
    background: #6a207f;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}